{% extends 'main/layout.html' %}
{% block title %}News{% endblock %}
{% block body %}

<center>
    <h1 class="h1">Новости</h1>
    <br>
                {% for new in object_list %}
                    <div class="news">
                        <p>{{ new.name }}</p>
                        <p>{{ new.anons }}</p>
                        <p>{{ new.data }}</p>
                        <a href="{% url 'news-detail' new.id %}" class="gradient-button">Подробности</a>
                    </div>
                {% endfor %}
</center>
{% endblock %}