{% extends 'main/layout.html' %}
{% block title %}About{% endblock %}
{% block body %}

<center>
    <h1 class="h1">О нас</h1>
    <br>
    <p class="title">Мы производим тубы различных диаметров - от 16мм до 50мм. Имея две технологии – для производства ламинатных и экструзионных туб, мы можем предложить нашим заказчикам широкий спектр возможностей. Большим преимуществом является собственный печатный цех в ламинате и in-line печать в экструзии с возможностью различных дополнительных опций декора. Особое внимание уделяется работе с поставщиками для контроля и поддержания качества производимой нами продукции.

ООО <strong><span class="color">«ЛеанГрупп»</span></strong> сертифицирована на соответствие международному стандарту BRC для упаковки - с высшей оценкой, что позволяет демонстрировать компетентность предприятия в области системы ХАССП, гигиены, безопасности продукции и систем качества, полностью обеспечивая безопасность продуктов для потребителей.

С января 2018 года компания стала членом Европейской Ассоциации производителей туб (ETMA), что подтверждает сильную позицию бренда и на рынке Европы.</p>
    <img class="img_2" src="http://leangroup-by.com/assets/img/ektruzionnie_tubii.jpg" alt="tuba">
</center>

{% endblock %}
