{% extends 'main/layout.html' %}
{% block title %}Contact{% endblock %}
{% block body %}
<center>
    <h1 class="h1">Контакты</h1>
    <div class="contacts">
        <a href="https://www.instagram.com/sklyar_yevgeny" target="_blank"><p class="title">Instagram</p></a>
        <a href="https://www.linkedin.com/company/leangroupby" target="_blank"><p class="title">Linkedin</p></a>
        <a href="https://vk.com/public214857289" target="_blank"><p class="title">VKontakte</p></a>
    </div>
    <hr>
    <div class="title">
        <h5><strong><span class="color">Беларусь (Минск)</span></strong></h5>
        <h6>Телефон +375 (17) 270 53 77 +375 (17) 270 53 78</h6>
        <h6>Email info@leangroup.by</h6>
        <h6>Адрес ул. Промышленная, д.25А, 220075, г. Минск, Беларусь</h6>
    </div>
    <hr>
    <div class="title">
        <h5><strong><span class="color">Россия (Москва)</span></strong></h5>
        <h6>Телефон +7 (495) 280 73 44 +7 (495) 280 73 44</h6>
        <h6>Email mosoffice@leangroup.by</h6>
        <h6>Адрес Волоколамское шоссе, 89, офис 321в, 125371, г. Москва, Российская Федерация</h6>
    </div>
    <hr>
    <div class="title">
        <h5><strong><span class="color">Польша (Варшава)</span></strong></h5>
        <h6>Телефон +48 73 1111 044</h6>
        <h6>Email office@leangroup.pl</h6>
        <h6>Адрес LEANGROUP EUROPE Sp.z o.o. Al.Jerozolimskie 85, office 21 02-001 Warszawa, Польша</h6>
    </div>
    <hr>
<!--    <img src="http://leangroup-by.com/assets/img/DSC_9588d.jpg" alt="foto_2" height="50%" width="70%">-->

</center>

{% endblock %}
