{% extends 'main/layout.html' %}
{% block title %}Sertificate{% endblock %}
{% block body %}

<center>
    <h1 class="h1">Сертификаты</h1>
    <br>
    <p class="title">В компании ООО <strong><span class="color">«ЛеанГрупп»</span></strong> внедрена система безопасности и качества продукции в соответствии с ISO 9001:2015 и BRC, что позволяет поддерживать качество нашей продукции на высоком уровне. На производстве применяется трехступенчатая система контроля качества продукции: самим оператором печатной или тубоделательной машины, оператором перемоточной машины, специалистами отдела контроля качества. Каждая партия изготовленной продукции подвергается приемо-сдаточным испытаниям на соответствие техническим характеристикам, упаковке и маркировке. Соответствие продукции, на которую распространяется технический регламент Таможенного союза «О безопасности упаковки» (ТР ТС 005/2011), подтверждено декларациями соответствия требованиям ТР ТС 005/2011.</p>
    <div class="title">
        <img src="http://leangroup-by.com/assets/img/ISO%209001-2015%20rus.jpg" alt="tuba">
        <img src="http://leangroup-by.com/assets/img/%D0%A1%D0%B5%D1%80%D1%82%D0%B8%D1%84%D0%B8%D0%BA%D0%B0%D1%82%20TUV.jpg" alt="tuba">
        <img src="http://leangroup-by.com/assets/img/PocT2021.jpg" alt="tuba">
        <img src="http://leangroup-by.com/assets/img/Reg.%20ud.%20Minzdrav.jpg" alt="tuba">
        <img src="http://leangroup-by.com/assets/img/Scan2023.jpg" alt="tuba">
        <img src="http://leangroup-by.com/assets/img/Sertificate%2014001%20rus.jpg" alt="tuba">
    </div>
    <p class="title">ООО <strong><span class="color">«ЛеанГрупп»</span></strong>  стремится развиваться и становиться лучше для своих клиентов, поэтому в декабре 2020 года компания успешно прошла международный аудит – аудит социальной ответственности поставщика SMETA 4-Pillar.

SMETA (Sedex Member Ethical Audit) – это аудит, в ходе которого проводится оценка соответствия предприятия установленным требованиям по четырём основным сферам: охрана труда и производственная безопасность, окружающая среда, условия труда и деловая репутация поставщика.

Аудит SMETA позволяет нам работать с клиентами на европейских рынках, чувствовать себя уверенно на переговорах с транснациональными компаниями. Прохождение аудита подтверждает, что мы, как Компания, понимаем всю важность социальных аспектов ведения бизнеса и ценности нашего персонала.</p>

</center>

{% endblock %}